{% extends 'base.html.twig' %}
{% block body %}
    {% include 'admin/navbar.html.twig' %}
<div class="container">
    <div class="card ">
        <div class="card-header">
                List des joueurs
            </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Age</th>
                <th>Role</th>
                <th>Equipe</th>

            </tr>
        </thead>
        <tbody>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.name }} - {{ player.firstname }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.Role }}</td>
                <td><img class="flag-admin" src="{{ player.team.flag }}">
                <td>
                    <ul>
                        <a role="button" class="btn btn-success"
                           href="{{ path('player_show', { 'id': player.id }) }}">Voir</a>
                        <a role="button" class="btn btn-danger"
                           href="{{ path('player_edit', { 'id': player.id }) }}">Modifier</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('player_new') }}" role="button" class="btn btn-primary">Ajouter un joueur</a>

    </div></div>
{% endblock %}
