{% extends 'layout.html.twig' %}

{% block body %}

    <div class="jumbotron text-center marginNeg">
        <h1>Avancée du championat</h1>
        <p>Et des sponsors, faut pas déconner ...</p>
    </div>

    <div class="container-fluid  NHLImg">
        <div class="borderFluid">
        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.1.flag }}">
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 offset-3 borderTree heightCol">
                <p>{{ contests.2.id }}</p>
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.2.flag }}">
            </div>
        </div>

        <div class="row heightRow">
            <div class="col-md-2 heightCol">

            </div>
            <div class="col-md-2 offset-4 borderTree heightCol">
                <p>Equipe</p>
            </div>
        </div>

        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.3.flag }}">
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 offset-3 borderTree heightCol">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.4.flag }}">
            </div>
            <div class="col-md-3 offset-6 borderTree finalCol heightCol">
                <p>Equipe</p>
            </div>

        </div>

        <div class="row heightRow">
            <div class="col-md-2 heightCol">

            </div>

        </div>

        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.5.flag }}">
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 offset-3 borderTree heightCol">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.6.flag }}">
            </div>
        </div>

        <div class="row heightRow">
            <div class="col-md-2 heightCol">

            </div>
            <div class="col-md-2 offset-4 borderTree heightCol">
                <p>Equipe</p>
            </div>
        </div>

        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.7.flag }}">
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 offset-3 borderTree heightCol">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightRow">
            <div class="col-md-2 borderTree heightCol">
                <img class="imgtest" src="{{ teams.0.flag }}">
            </div>
        </div>
        </div>
    </div>

{% endblock %}