{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contest</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contest.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if contest.date %}{{ contest.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resultteam1</th>
                <td>{{ contest.resultTeam1 }}</td>
            </tr>
            <tr>
                <th>Resultteam2</th>
                <td>{{ contest.resultTeam2 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contest_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contest_edit', { 'id': contest.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
