{% extends 'base.html.twig' %}
{% block body %}
    {% include 'admin/navbar.html.twig' %}
<div class="container">
    <div class="card ">
        <div class="card-header">
            List des équipes
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Drapeau</th>
            </tr>
            </thead>
            <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td><img class="flag-admin" src="{{ team.flag }}"></td>
                <td>
                    <ul>
                        <a role="button" class="btn btn-success"
                           href="{{ path('team_show', { 'id': team.id }) }}">Voir</a>
                        <a role="button" class="btn btn-danger"
                           href="{{ path('team_edit', { 'id': team.id }) }}">Modifier</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('team_new') }}" role="button" class="btn btn-primary">Ajouter une équipe</a>
    </div>
{% endblock %}
