{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}
<div class="container">
    <div class="card ">
        <div class="card-header">
            List des équipes
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Drapeau</th>
                <td><img class="flag-admin" src="{{ team.flag }}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ team.description }}</td>
            </tr>
            <tr><th>Joueurs</th>
            <td>
                {% for player in team.players %}
                    - {{ player.name }}
                {% endfor %}
            </td>
            </tr>
    </table>
        <a href="{{ path('team_edit', { 'id': team.id }) }}"role="button" class="btn btn-success">Editer</a>

        {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger" style="width:100%;">
        {{ form_end(delete_form) }}


    </div></div>
{% endblock %}
